nav>a>img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
nav{
    /* width:auto; */
    height: 70px;
    background-color: rgb(38, 175, 175);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    /* z-index: 10; */
    top: 0;
}
nav>ul{
    display: flex;
    list-style-type:none;
}
nav>ul>a{
    /* padding:10/px; */
    margin: 0px 5px;
    font-size: 20px;
}
nav>a>input{
    border: 0px;
    padding:10px;
    background-color: rgb(255, 106, 0);
    color: black;
    border-radius: 25px;
    display: block;
    text-decoration: none;
}
nav>a>input:link{
    color: black;
}
video{
    /* border: 5px solid black; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0px;
}
.on{
    text-align: center;
    position: absolute; 
    color: rgb(5, 5, 5);
    font-size: 25px;
    left: 350px;
    top: 300px;
}
.sec{
    position: relative;
    width: 100%;
}
.images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.images>img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
    margin-bottom:10px ;
}
.one{
    display: none;
}
body{
    margin:0px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    display: none;
}
.about{
    background-color:rgba(168, 250, 5, 0.711);
    border-radius: 10px;
    color: black;
    display:flex;
    margin-top: 10px;
    margin: none;
    padding: 0px;
}
.achievements{
    background-color: gold;
    color: black;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
}
.movies{
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    display:flex;
}
marquee{
    background-color: khaki;
}
.mar{
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
}
@media(max-width:576px) {
    nav>a>input{
        display: none;
    }
    .about{
    width: auto;
    }
    .on{
        text-align: center;
        position: absolute; 
        color: rgb(5, 5, 5);
        font-size: 25px;
        left: 0px;
        top: 50px;
    }
    
    body{
        margin: 0px;
        padding: 0px;
    }
    nav{
        width: auto;
        margin:none;
        position: sticky;
        top: 0;
        background-color: aquamarine;
    }
    .sec{
        /* position: relative; */
        width: auto;
    }
    video{
        /* border: 5px solid black; */
        width:100%;
        height: 450px;
        object-fit: cover;
    }
    .images{
        flex-wrap: wrap-reverse;
        object-fit: cover;
    }
    .images>img{
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    input{
        width: 100%;
        height: 70px;
        border: none;
        margin-top: 10px;
        background-color: rgb(255, 106, 0);
        color: black;
        border-radius: 25px;
        font-size: 20px;
        display: block;
    }
    .one{
        display: none;
    }
    .on{
        font-size: 15px;
        left: 30px;
        top: 100px;
    }
    body{
        margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .mar>marquee.one{
        font-size: 10px;
    }
    .two{
        display: none;
    }
    .one{
        display: block;
    }
}
@media(max-width:376px){
    body{
        margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    nav>ul>a{
        flex-wrap: wrap;
        display: none;
    }
    .one{
        text-align: center;
        display: block;
        /* position: sticky;
        top: 0; */
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .one>ul>a{
        list-style-type:none;
        margin: 0px;
    }
    .on{
        font-size: 10px;
        left: 30px;
        top: 150px;
    }
}